##exportPattern("^[[:alpha:]]+")
export(medci,qprodnormal,pprodnormal,ci,qMC,pMC,mbco)
importFrom("MASS","mvrnorm")
importFrom("lavaan", "lav_matrix_vech_reverse","sem","fitMeasures","lavTestLRT","bootstrapLRT","bootstrapLavaan")
importFrom("e1071", "skewness", "kurtosis")
importFrom("graphics", "arrows", "axis", "curve", "legend", "lines",
            "mtext", "par", "points", "segments", "text")
importFrom("stats", "coef", "density", "deriv", "dnorm", "integrate",
            "pnorm", "qnorm", "quantile", "rnorm", "sd", "uniroot",
            "update", "vcov")
importFrom("grDevices", "heat.colors")
importFrom("stats", "filter", "na.omit","cov")
importFrom('dplyr','%>%','tbl_df')
importFrom('modelr','resample_bootstrap')
importFrom('Matrix','nearPD')
importFrom('matrixcalc','is.positive.definite')
importFrom("methods", "is")
importFrom('stringr', 'str_replace')
importFrom('doParallel','registerDoParallel')
importFrom('foreach','%do%','%dopar%','foreach')
importFrom('iterators','iter','icount')
import(OpenMx)
